# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.cache
.coverage
.coverage.*
.pytest_cache/

# Sphinx documentation
# docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dev env
.DS_Store
.vscode/

# data stuff
data/resumes/*
data/postings/*
data/external/*
data/processed/*
bloc-env
