appnope==0.1.0
astroid==2.3.3
attrs==19.3.0
awscli==1.16.309
backcall==0.1.0
beautifulsoup4==4.8.2
blis==0.2.4
boltons==19.3.0
botocore==1.13.45
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
cymem==2.0.3
cytoolz==0.10.1
decorator==4.4.1
docutils==0.15.2
DoubleMetaphone==0.1
face==19.1.2
Faker==3.0.0
Flask==1.1.1
ftfy==5.6
future==0.18.2
glom==19.10.0
gunicorn==20.0.4
idna==2.8
ipython==7.11.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.2
jellyfish==0.7.2
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
marshmallow==3.3.0
matplotlib==3.1.2
mccabe==0.6.1
msvdd-bloc==0.1.1
murmurhash==1.0.2
networkx==2.4
numpy==1.18.0
pandas==0.25.3
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
plac==0.9.6
preshed==2.0.1
probableparsing==0.0.1
probablepeople==0.5.4
prompt-toolkit==3.0.2
ptyprocess==0.6.0
pyasn1==0.4.8
pycryptodome==3.9.4
pyemd==0.5.1
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.6
PyPDF2==1.26.0
Pyphen==0.9.5
python-crfsuite==0.9.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.22
scipy==1.4.1
six==1.13.0
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.1.9
srsly==0.2.0
text-unidecode==1.3
textacy==0.9.1
thinc==7.0.8
tika==1.23
toolz==0.10.0
tqdm==4.41.0
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.7
usaddress==0.5.10
wasabi==0.5.0
watermark==2.0.2
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
yapdfminer==1.2.2
